*{
    margin:0;
    padding:0;
}
body{
    background-color:white;
    font-family:'Roboto',sans-serif;
    font-size:20px;
}

header{
    margin:1em;
    padding:1em;
    background-color:dodgerblue;
    border-radius:5px;
    text-align:center;
}
nav{
    margin:1em;
    padding:1em;
    background-color:dodgerblue;
    border-radius:5px;
    text-align:center;
    justify-content:space-between;
}
nav a{
    text-decoration:none;
    color:black;
}
nav a:hover{
    text-decoration:none;
    color:white;
}
section{
    display:none;
}
section:target{
    display:block;
}
article{
    margin:1em;
    padding:1em;
    background-color:dodgerblue;
    border-radius:5px;
}
footer{
    margin:1em;
    padding:1em;
    background-color:dodgerblue;
    border-radius:5px;
    text-align:center;
}